
<div class="fullscreen-div d-flex align-items-center justify-content-center">
	@* <div> *@
	<img class="loading-icon" src="img/Loading.gif" style="width:25vh;height:25vh;" />
	@* </div> *@
	@* <div class="loadingio-spinner-double-ring-w1mhw8ozh8">
	<div class="ldio-w702yapkdbj">
	<div></div>
	<div></div>
	<div><div></div></div>
	<div>
	<div>
	</div>
	</div>
	</div>
	</div>  *@
</div>
