#wizard-mapping .bs-stepper-header {
    max-width: 800px;
}

.dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
}

.coveredImage {
    width: 100%;
    position: absolute;
    /*position: relative;*/
    top: 0px;
    left: 0px;
}

.insideWrapper {
    position: relative;
}

.coveringCanvas {
    position: absolute;
    /*position: relative;*/
    top: 0px;
    left: 0px;
    /*background-color: rgba(255, 0, 0, .1);*/
}
