<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            © 2023, Powered by
            <a href="https://direcbusiness.com" target="_blank" class="footer-link fw-bolder">Direc Business Technologies Inc.</a>
            v0.6.14
        </div>
@*        <div>
            v0.1.1
        </div>*@
        <div>
            <a href="https://con-direcbsi.zendesk.com/hc/en-us/requests/new"
               target="_blank"
               class="footer-link d-none d-sm-inline-block">Support</a>
        </div>
    </div>
</footer>
<!-- / Footer -->