<div class="onboarding-media">
    <div class="mx-2">
        <img src="assets/img/illustrations/@PictureName-light.png"
             alt="@PictureName-light"
             width="335"
             class="img-fluid"
             data-app-dark-img="illustrations/@PictureName-dark.png"
             data-app-light-img="illustrations/@PictureName-light.png" />
    </div>
</div>
