.coveredImage {
    width: 100%;
    position: absolute;
    /*position: relative;*/
    top: 0px;
    left: 0px;
}

.insideWrapper {
    position: relative;
    min-height: 500px;
    height: 100%;
}

.coveringCanvas {
    position: absolute;
    /*position: relative;*/
    top: 0px;
    left: 0px;
    /*background-color: rgba(255, 0, 0, .1);*/
}

#tooltip {
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    width: 25%;
    z-index: 10000;
}

/*#btn-show-pin-details {
    width: 25px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    transition: all 0.2s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    #btn-show-pin-details {
        transition: none;
    }
}

#btn-show-pin-details:hover {
    color: #a3a4cc;
}

#i-show-pin-details {
    font-size: 50px;
    left: -18px !important;
    position: relative;
}

#dv-pin-details {
    position: fixed;
    right: 1%;
    top: 45%;
    transform: translateY(-55%);
    z-index:10000;
}

#btn-show-pin-details:focus {
    outline: 0;
    box-shadow: none;
}

.popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index:9999;
}

.popup-content {
    padding: 20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}*/
